body {
	font-family: sans-serif;
}

.toolbar-dropdown {
	background-color: #303336;
	color: #fff;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	margin: 2px 3px;
	opacity: 0.95;
}

.dropdown-heading {
	text-align: center;
}

.headings-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	padding: 0.3rem;
	padding-left: 0.7rem;
}

.headings-container > span {
	width: min-content;
}

/* table {
	text-align: center;
} */

thead,
th {
	font-size: 13px;
	padding: 0.3rem;
}

tr:nth-child(odd) {
	background-color: #474b4e;
}

td {
	font-size: 12px;
	padding: 0.3rem;
}

.btn-wrap {
	text-align: center;
}

.btn {
	cursor: pointer;
	margin: 0.3rem;
}

.cesium-infoBox-close {
	display: none !important;
}

.on-off {
	height: 12px;
	width: 12px;
	content: '';
	border-radius: 50%;
	position: absolute;
	bottom: 13px;
	left: 7px;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}
